@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Work+Sans:wght@700&display=swap');

.navbar{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: 70px;
    z-index: 1;
    margin-top: 0px;
}
.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 2.8%;
}
.logo{
    flex: 1 1 auto;
    margin-left: 3.5%;
    font-weight: 800;
    font-family: "Monserrat", sans-serif;
    font-size: 30px;
    text-decoration: none;
}
a{
    margin: 15px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
}
.logo:hover{
    color: #5DADE2;
}
a:hover{
    color: #5DADE2;
}
.box {
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(2, 580px);
    grid-template-rows: repeat(3, 350px);
    grid-gap: 0px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
#img1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #5DADE2;
}
#img2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #e25d5d;
}
#img3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #e2e05d;
}
#img4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #68e25d;
}
#img5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #a25de2;
}
#img6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #e25dc5;
}
.img:hover{
    opacity: 0.4;
}
.ambox{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: grid;
    grid-template-columns: repeat(2, 580px);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 10px;
}
.amimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
#amimg1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
#amimg2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#amimg3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
